IO_LOC "sw1"      88; IO_PORT "sw1"       PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sw2"      87; IO_PORT "sw2"       PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sys_clk27" 4; IO_PORT "sys_clk27" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "uart_rx"  70; IO_PORT "uart_rx"   PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "uart_tx"  69; IO_PORT "uart_tx"   PULL_MODE=UP IO_TYPE=LVCMOS33;

// SDCard
IO_LOC "sd_clk"  83; IO_PORT "sd_clk"  PULL_MODE=NONE IO_TYPE=LVCMOS33; 
IO_LOC "sd_mosi" 82; IO_PORT "sd_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_miso" 84; IO_PORT "sd_miso" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "sd_cs_n" 81; IO_PORT "sd_cs_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;

//IO_LOC  "led[5]" 20; IO_PORT "led[5]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[4]" 19; IO_PORT "led[4]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[3]" 18; IO_PORT "led[3]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[2]" 17; IO_PORT "led[2]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[1]" 16; IO_PORT "led[1]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "led[0]" 15; IO_PORT "led[0]" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
//IO_LOC  "ws2812" 79; IO_PORT "ws2812" DRIVE=8 IO_TYPE=LVCMOS33; // RGB LED

IO_LOC "INTGNT"   73; IO_PORT "INTGNT" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "CPSEL_n"  74; IO_PORT "CPSEL_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "CONT_SW"  75; IO_PORT "CONT_SW"  PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "SWSEL_n"  85; IO_PORT "SWSEL_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "MEMSEL_n" 77; IO_PORT "MEMSEL_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DMAREQ_n" 15; IO_PORT "DMAREQ_n" PULL_MODE=NONE IO_TYPE=LVCMOS33; // LED[0]
IO_LOC "RUN_HLT_n"  16; IO_PORT "RUN_HLT_n" PULL_MODE=NONE IO_TYPE=LVCMOS33; // LED[1]
IO_LOC "IFETCH"   27; IO_PORT "IFETCH" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "XTA"      28; IO_PORT "XTA" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "LXMAR"    25; IO_PORT "LXMAR" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "HALT_SW"  26; IO_PORT "HALT_SW" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "XTC"      29; IO_PORT "XTC" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DEVSEL_n" 30; IO_PORT "DEVSEL_n" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DBG_TX"   31; IO_PORT "DBG_TX" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "INTREQ_n" 17; IO_PORT "INTREQ_n" PULL_MODE=NONE IO_TYPE=LVCMOS33; // LED[2]
IO_LOC "SKP_n" 20; IO_PORT "SKP_n" PULL_MODE=NONE IO_TYPE=LVCMOS33; // LED[5]
IO_LOC "C1_n"  19; IO_PORT "C1_n" PULL_MODE=NONE IO_TYPE=LVCMOS33; // LED[4]
IO_LOC "C0_n"  18; IO_PORT "C0_n" PULL_MODE=NONE IO_TYPE=LVCMOS33; // LED[3]

IO_LOC "DATAF"   76; IO_PORT "DATAF" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[11]"  80; IO_PORT "DX[11]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[10]"  42; IO_PORT "DX[10]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[9]"   41; IO_PORT "DX[9]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[8]"   56; IO_PORT "DX[8]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[7]"   54; IO_PORT "DX[7]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[6]"   51; IO_PORT "DX[6]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[0]"   48; IO_PORT "DX[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[1]"   55; IO_PORT "DX[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[2]"   49; IO_PORT "DX[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[3]"   86; IO_PORT "DX[3]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "LED_RGB" 79; IO_PORT "LED_RGB" PULL_MODE=UP IO_TYPE=LVCMOS33; // RGB LED
IO_LOC "DX[4]"   72; IO_PORT "DX[4]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "DX[5]"   71; IO_PORT "DX[5]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "CLK"     53; IO_PORT "CLK" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "RESET_n" 52; IO_PORT "RESET_n" PULL_MODE=UP IO_TYPE=LVCMOS33;

